.closeButton{
    position: absolute;
    top: 0;
    display: none;
}
.transition-fade {
    transition: 0.4s;
    opacity: 1;
  }
  
  html.is-animating .transition-fade {
    opacity: 0;
  }
.message{
    background-color: #274C90;
    padding: 30px;
    border: 3px solid #b6fbfb83;
    border-radius: 10px;
    text-align: center;
    width: clamp(320px, 60vw, 60vw);
    margin-top: 70px;
}
.message h3{
    font-size: clamp(40px, calc(4vw+4vh), calc(4vw+4vh));
}
.message p{
    margin-top: 20px;
    font-size: clamp(17px, calc(1vw + 1vh), calc(1vw + 1vh));
}