.closeButton{
    position: absolute;
    top: 0;
    display: none;
}
.transition-fade {
    transition: 0.4s;
    opacity: 1;
  }
  
  html.is-animating .transition-fade {
    opacity: 0;
  }
.message{
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.message h3{
    font-size: clamp(35px, calc(3vw+4vh), calc(3vw+34vh));
    background-color: #305cae;
}
.message p{
    margin-top: 20px;
    font-size: clamp(17px, calc(1vw + 1vh), calc(1vw + 1vh));
}