@import url('https://fonts.googleapis.com/css2?family=Kufam:wght@600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  overflow-x: hidden;
  list-style: none;
}
::-webkit-scrollbar {
  width: 1rem;
}
::-webkit-scrollbar-track {
  background: #274C90;
}
::-webkit-scrollbar-thumb {
  border: 2px solid #b6fbfb83;
  border-radius: 5px;
}
body{
  background-color: #305cae;
}
article{
  font-family: "Kufam", cursive;
}
button{
  cursor: pointer;
  border: none;
}
.loading-container{
  position: fixed;
  z-index: 20;
  width: 100vw;
  height: 100vh;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 0;
  background-color: #305cae;
}
.loading-element{
  width: clamp(50px, 80px, 100px);
  color: rgb(255, 255, 255);
}
.choose-section{
  display:grid;
grid-gap:10px;
grid-template-columns:1fr 1fr;
}
@media screen and (max-width:500px){
  .choose-section{
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
  }
}
.AnswerButton{
    background-color: rgb(0,50,100);
    border: 2px solid rgb(20,150,200);
}
.ShowScoreButton{
  background: rgb(0,50,100);
  border: 2px solid rgb(20,150,100);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.math-ex{
  width: 100%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.results{
  top: -100vh;
  transition: .5s;
}
.active-results{
  top: 0;
  transition-delay: 1s;
  transition: .5s;
}

button:disabled{
  opacity: .5;
}
.buttons{
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  grid-gap: 10px;
  align-items: center;
  justify-content: center;
}
.main-ex{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.explanation{
  position: relative;
display: flex;
flex-direction: column;
align-items: center;font-family: "Kufam", cursive;
z-index: 3;
background-color: #305cae;
color: white;
text-align: center;
border: 3px solid #b6fbfb83;
width: clamp(320px, 60vw, 60vw);
margin: 50px 0;
padding: 20px 5%;
border-radius: 5px;
}
.explanation h1{
    font-size: calc(3vh + 3vw + 20px);
}
.explanation h2{
  font-size: clamp(30px, calc(2vw+2vh+20px), calc(2vw+2vh+20px));
}
.explanation p{
  font-size: 25px;
  margin: 20px 0;
  color: rgb(220, 239, 252);
}
.fa-medal{
  color: gold;
}
.division-section{
  font-size: clamp(40px, calc(3vw+2vh), calc(3vw+2vh));
  margin-bottom: 20px;
}
.display-none{
  display: none;
}